@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* UFC цвета */
.bg-ufc-dark {
  background-color: #202733;
}

.text-ufc-gold {
  color: #d4af37;
}

.bg-ufc-gold {
  background-color: #d4af37;
}

.text-ufc-blue {
  color: #2f49d1;
}

.bg-ufc-blue {
  background-color: #2f49d1;
}